<div class="profile-container m-5">

  <div class="profile-left">
    <div class="user-choices">
      <div class="choice-titles-buttons d-flex align-items-center justify-content-between">
        <h2>Brews you've enjoyed!</h2>
        <% if @user.choices.count > 3 %>
          <a class="home-random-btn" data-toggle="collapse" href="#collapseChoices" role="button" aria-expanded="false" aria-controls="collapseChoices">
          View All Choices
          </a>
        <% end %>
      </div>
      <div class="beer-cards-index">
        <% @first_three.each do |choice| %>
          <div class="beer-card">
            <%= link_to "", choice_path(choice), class: "beer-card-link" %>
             <%= cl_image_tag choice.beer.photo.key, width: 200, class: "beer-card-img" %>
            <div class="beer-card-content">
              <div class="beer-card-title">
                <p><%= choice.beer.name%></p>
              </div>
              <div class="beer-card-tags">
                <% choice.beer.tags.each do |tag| %>
                  <!-- logic to do later (Arthur) -->
                  <span class="beer-tag beer-active-tag"><%= tag.name %></span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

          <% if @user.choices.count > 3 %>
            <% @remainder.each do |choice| %>
              <div class="collapse beer-card" id="collapseChoices">
                <%= link_to "", choice_path(choice), class: "beer-card-link" %>
                <%= cl_image_tag choice.beer.photo.key, width: 200, class: "beer-card-img" %>
                <div class="beer-card-content">
                  <div class="beer-card-title">
                    <p><%= choice.beer.name%></p>
                  </div>
                  <div class="beer-card-tags">
                    <% choice.beer.tags.each do |tag| %>
                      <!-- logic to do later (Arthur) -->
                      <span class="beer-tag beer-active-tag"><%= tag.name %></span>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>

    <div class="user-likes">
      <div class="choice-titles-buttons d-flex align-items-center justify-content-between">
        <h2>Brews you've liked!</h2>
        <% if @user.likes.count > 3 %>
          <a class="home-random-btn" data-toggle="collapse" href="#collapseLikes" role="button" aria-expanded="false" aria-controls="collapseLikes">
          View All Likes
          </a>
        <% end %>
      </div>
      <div class="beer-cards-index">
        <% @first_three_likes.each do |like| %>
          <div class="beer-card">
            <%= link_to "", beers_path(like.beer), class: "beer-card-link" %>
            <%= image_tag "https://images.unsplash.com/photo-1498058942544-e1ff4563ac64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80", class: "beer-card-img" %>
            <div class="beer-card-content">
              <div class="beer-card-title">
                <p><%= like.beer.name%></p>
              </div>
              <div class="beer-card-tags">
                <% like.beer.tags.each do |tag| %>
                  <!-- logic to do later (Arthur) -->
                  <span class="beer-tag beer-active-tag"><%= tag.name %></span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
    <!--     <div > -->
          <% if @user.likes.count > 3 %>
            <% @remainder_likes.each do |like| %>
              <div class="collapse beer-card" id="collapseLikes">
                <%= link_to "", beers_path(like.beer), class: "beer-card-link" %>
                <%= image_tag "https://images.unsplash.com/photo-1498058942544-e1ff4563ac64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80", class: "beer-card-img" %>
                <div class="beer-card-content">
                  <div class="beer-card-title">
                    <p><%= like.beer.name%></p>
                  </div>
                  <div class="beer-card-tags">
                    <% like.beer.tags.each do |tag| %>
                      <!-- logic to do later (Arthur) -->
                      <span class="beer-tag beer-active-tag"><%= tag.name %></span>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
    <!--   </div> -->
    </div>
  </div>

  <div class="profile-right pl-3 pr3">
    <% if @user.avatar.attached? %>
      <%= cl_image_tag @user.avatar.key, height: 150, width: 150, crop: :fill, class: "user-avatar" %>
    <% else %>
      <%= image_tag "logo.png",height: 150, width: 150, crop: :fill, class: "user-avatar"  %>
    <% end %>
    <h1 class="text-center"><%= @user.username %></h1>
  </div>
</div>
