<%= form_tag beers_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    placeholder: "Find a beer"
  %>
  <%= submit_tag "Search" %>
<% end %>

<h1><%= link_to "HOP!", tags_path %></h1>

<%= link_to "Randomise", random_beers_path %>
