<%= form_tag beers_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    placeholder: "Find a beer"
  %>
  <%= submit_tag "Search" %>
<% end %>

<h1><%= link_to "HOP!", tags_path %></h1>

<%= simple_form_for :randomise, url: beers_path, method: :get do |f| %>
  <%= f.submit 'Randomise' %>
<% end %>
