<div class="container">
  <p class="text-center beers-header pt-5">PICK YOUR BREW</hp>
  <div class="beers-search">
    <form action="/beers" accept-charset="UTF-8" method="get" style="">
      <input class="beers-search-bar" type="text" name="query" id="query" placeholder="FIND A BEER">
      <input class="beers-search-btn" type="submit" name="commit" value="SEARCH" data-disable-with="Search">
    </form>
  </div>

  <div class="beer-cards">
    <% @beers.each do |beer| %>
      <div class="beer-card scroll-reveal">
        <%= link_to "", beer_path(beer), class: "beer-card-link" %>
        <%= cl_image_tag beer.photo.key, width: 200, class: "beer-card-img" %>


        <div class="beer-card-content">
          <div class="beer-card-title">
            <p><%= beer.name%></p>

            <p class="text-gray"><%= (beer.closest_distance(current_user) * 1.2).round(2) %> miles away</p>

          </div>
          <div class="beer-card-tags">
            <% beer.tags.each do |tag| %>
              <!-- logic to do later (Arthur) -->
              <span class="beer-tag beer-active-tag"><%= tag.name %></span>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
  </div>
  <div class="text-center pb-5">
    <% if @beers.count < Beer.all.count %>
      <%= link_to "VIEW ALL", beers_path, class: "beers-btn" %>
    <% end %>
  </div>


</div>
