<div class="container beers-index">
  <p class="text-center beers-header pt-5">PICK YOUR BREW</p>
  <div class="beers-search">
    <form action="/beers" accept-charset="UTF-8" method="get" style="">
      <input class="beers-search-bar" type="text" name="query" id="query" placeholder="FIND A BEER">
      <i class="fas fa-search"></i>
      <line x1="16.84" y1="17.19" x2="25.81" y2="26.17" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="4"></line>
      <path d="M567.8,1679.13A7.84,7.84,0,1,1,560,1687a7.85,7.85,0,0,1,7.84-7.84m0-3A10.84,10.84,0,1,0,578.64,1687a10.84,10.84,0,0,0-10.84-10.84h0Z" transform="translate(-556.96 -1676.13)" fill="#000"></path>
      </svg>
    </form>
  </div>

  <div class="beer-cards">
    <% @beers.each do |beer| %>
      <div class="beer-card scroll-reveal">
        <%= link_to "", beer_path(beer), class: "beer-card-link" %>
        <%= cl_image_tag beer.photo.key, height: 150, width: 150, class: "beer-card-image" %>


        <div class="beer-card-content">
          <div class="beer-card-title">
            <p class="beer-card-title-content"><%= beer.name%></p>
            <p class="beer-card-title-details"><%= (beer.closest_distance(current_user) * 1.2).round(2) %> miles away</p>

          </div>
          <div class="beer-card-tags">
            <% beer.tags.each do |tag| %>
            <% if params[:search].present? %>
              <% if params[:search][:tags].include?(tag.id.to_s) %>
                <span class="beer-active-tag"><%= tag.name %></span>
              <% else %>
                <span class="beer-tag"><%= tag.name %></span>
              <% end %>
            <% else %>
              <span class="beer-active-tag"><%= tag.name %></span>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
  </div>
  <div class="text-center pb-5">
    <% if @beers.count < Beer.all.count %>
      <%= link_to "VIEW ALL", beers_path, class: "beers-btn" %>
    <% end %>
  </div>


</div>
