<div class="container">
  <h1 class="text-center">Pick your brew</h1>
  <div class="text-center">
    <%= form_tag beers_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        placeholder: "Find a beer"
      %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>

  <div class="beer-cards">
    <% @beers.each do |beer| %>
      <div class="beer-card">
        <%= link_to "", beer_path(beer), class: "beer-card-link" %>
        <%= image_tag "https://images.unsplash.com/photo-1498058942544-e1ff4563ac64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80", class: "beer-card-img" %>
        <div class="beer-card-content">
          <div class="beer-card-title">
            <p><%= beer.name%></p>
            <p class="text-gray"><%= (beer.closest_distance(current_user) * 1.2).round(2) %> miles away</p>
          </div>
          <div class="beer-card-tags">
            <% beer.tags.each do |tag| %>
              <!-- logic to do later (Arthur) -->
              <span class="beer-tag beer-active-tag"><%= tag.name %></span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div>
    <% if @beers.count < Beer.all.count %>
      <%= link_to "View all", beers_path, class: "btn-dark" %>
    <% end %>
  </div>

</div>
