<div class="random-container d-flex justify-content-center text-center">
  <div class= "inner-container">
    <h1 class="text-center">YOUR RANDOM BREWS!</h1>

    <div class="beer-cards">
      <% @beers.each do |beer| %>
        <div class="beer-card">
          <%= link_to "", beer_path(beer), class: "beer-card-link" %>
          <%= image_tag "https://images.unsplash.com/photo-1498058942544-e1ff4563ac64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80", class: "beer-card-img" %>
          <div class="beer-card-content">
            <div class="beer-card-title">
              <p><%= beer.name%></p>
              <p class="text-gray"><%= (beer.closest_distance(current_user) * 1.2).round(2) %> miles away</p>
            </div>
            <div class="beer-card-tags">
              <% beer.tags.each do |tag| %>
                <!-- logic to do later (Arthur) -->
                <span class="beer-tag beer-active-tag"><%= tag.name %></span>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
    </div>


      <%= link_to "RANDOMISE!", random_beers_path, class: "random-btn" %>

  </div>
</div>
