<div class="beer-show-container">
  <div class="beer-left-half" style="background-image: url('https://res.cloudinary.com/dtoehsudt/image/upload/v1582804201/<%= @beer.photo.key %>')">
  </div>

  <div class="beer-right-half">
      <div class="content">
        <div class="beer-info">
          <p><%= @beer.name %></p>
          <% if @beer.liked_by(current_user) %>
            <%= link_to like_path(@beer.likes.find_by(user: current_user)), method: :delete, class: "liked" do %>
            <i class="fas fa-heart ml-3"></i>
            <% end %>
          <% else %>
            <%= link_to beer_likes_path(@beer), method: :post, class: "like" do%>
            <i class="far fa-heart ml-3"></i>
            <% end %>
          <% end %>
        </div>
        <div class="mt-2 mb-4">
          <p><%= @beer.description %></p>
          <div class="beer-card-tags">
            <% @beer.tags.each do |tag| %>
            <!-- add logic -->
              <span class="show-tag-active"><%= tag.name %></span>
            <% end %>
          </div>
        </div>
        <div class="choice-form">
          <p class="font-heading">Choose your pub</p>
          <%= render "choices/form", choice: @choice, beer: @beer %>
        </div>
      </div>
  </div>
</div>
