<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag "favicon.png" %>
    <title>HOP! The fun way to discover local beer that you love!</title>
    <meta property="og:title" content="HOP!"/>
    <meta property="og:image" content="https://i.ibb.co/Q91Nv6X/og-image.png"/>
    <meta property="og:description"
          content="The fun way to discover local beer that you love!"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
    <script>
      window.addeventasync = function(){
    addeventatc.settings({
        appleical  : {show:false, text:"Apple Calendar"},
        google     : {show:true, text:"Add to Google Calendar"},
        office365  : {show:false, text:"Office 365 <em>(online)</em>"},
        outlook    : {show:false, text:"Outlook"},
        outlookcom : {show:false, text:"Outlook.com <em>(online)</em>"},
        yahoo      : {show:false, text:"Yahoo <em>(online)</em>"}
    });
  };
    </script>
  </head>


  <body>
    <%#= render 'shared/background-div' unless current_page?(root_path) %>
   <%# unless current_page?(root_path) || controller_name == 'beers' && action_name == 'show' || controller_name == 'choices' && action_name == 'show' %>
     <!--  <div class="all-page-background"> -->
    <%# else %>
      <!-- <div> -->
    <%# end %>
      <%= render 'shared/navbar' unless current_page?(root_path) || controller_name == 'beers' && action_name == 'show' || controller_name == 'choices' && action_name == 'show'%>
      <%= render 'shared/alternative_navbar' if controller_name == 'beers' && action_name == 'show' || controller_name == 'choices' && action_name == 'show' %>
      <%= yield %>
      <%= render 'shared/flashes' %>
  <!--     </div> -->

    <script> </script>
  </body>
</html>
